# Android Studio configuration.
*.iml
.idea/

# Gradle build.
.externalNativeBuild/
.gradle/
build/
libraries/headers
libraries/jni

# User configuration.
local.properties

# OS configurations.
.DS_Store